/* Tarayıcı varsayılanlarını sıfırla */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML, Body ve React Root'u tam ekran yap */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Yanlardan taşmayı engelle */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}